
.ng{
    color: red;
}

h1{
    position: relative;
    text-align: center;
}

h3{
    position: relative;
    text-align: end;
}

main,
header{
    border-bottom: 1px solid black;
}

main{
    margin: 20 0 20 0;
    padding-bottom: 30px;
}

img{
    height: 500px;
    width: 500px;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}